body{background-image: url("../images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}

.main_header{border: 5px solid #0c0f14;
             margin-top: 10px;
             background-color:#2c6328; 
             height: 100px;  
}

.main_header h1{text-align: center;
                font-size: 45px;
                font-style: italic;
                color: black;
}

.rules_container{margin-left: 200px;
                 margin-top: 20px;
                 margin-bottom: 20px;
                 width: 70%;
}

#rules_button{width: 20%;
              margin-left: 400px;
}

#rules p{font-style: italic;
         font-size: 20px;
         background-color: white;
         border: 1px solid red;
}

#rules li{font-style: oblique;
          font-size: 15px;
          background-color: white;
          border: 1px solid red;
}

.flex_container{display: flex;
                flex-direction: row;
}

.flex_box1{width: 50%;
           margin-right: 10px;            
}

.flex_box2{width: 50%;
}

.flex_box1 h3{text-align: center;
              color: #d39e0c;
              font-size: 45px;  
}

.flex_box2 h3{text-align: center;
              color: #d39e0c;
              font-size: 45px;
}

.roll_dice{margin-left: 220px;
           margin-top: 40px;
}

#roll_dice1{width: 50%;  
}

#roll_dice2{width: 50%;
}

#hold1{width: 50%;
}

#hold2{width: 50%;
}

.hold_dice{margin-left: 220px;
           margin-top: 40px;
}

.result1{font-size: 25px;
         color: #ff0000;
         margin-top: 50px;
         margin-left: 20px;
         text-align: center;
}

.result2{font-size: 25px;
         color: #ff0000;
         margin-top: 50px;
         margin-left: 20px;
         text-align: center;
}

.main_footer{margin-top: 60px;             
             border: solid 10px #2c6328;
             margin-left: 0px;
             height: 100px;
}

.main_footer h3{text-align: center;
                font-size: 35px;
                color: #49420e;  
}

